## Observations and Insights

In [9]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as sts
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combined_results_df = pd.merge(mouse_metadata, study_results,
                                 how='outer', on='Mouse ID')
# Display the data table for preview
len(combined_results_df)

1893

In [10]:
# Checking the number of mice.
combined_results_df["Mouse ID"].unique()
mouse_count = len(combined_results_df["Mouse ID"].unique())
mouse_count

249

In [11]:
#Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicates_df = combined_results_df[combined_results_df.duplicated(["Mouse ID", "Timepoint"])]
duplicates_df.head(2)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0

In [12]:
#Set index for main df
combined_results_df_index = combined_results_df.set_index("Mouse ID")
combined_results_df_index.head()

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
k403,Ramicane,Male,21,16,0,45.000000,0
k403,Ramicane,Male,21,16,5,38.825898,0
k403,Ramicane,Male,21,16,10,35.014271,1
k403,Ramicane,Male,21,16,15,34.223992,1
k403,Ramicane,Male,21,16,20,32.997729,1

In [13]:
# Optional: Get all the data for the duplicate mouse ID. 
combined_results_df_index.loc["g989",]
data_for_dup = combined_results_df_index.loc["g989",]
data_for_dup

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
g989,Propriva,Female,21,26,0,45.000000,0
g989,Propriva,Female,21,26,0,45.000000,0
g989,Propriva,Female,21,26,5,48.786801,0
g989,Propriva,Female,21,26,5,47.570392,0
g989,Propriva,Female,21,26,10,51.745156,0
g989,Propriva,Female,21,26,10,49.880528,0
g989,Propriva,Female,21,26,15,51.325852,1
g989,Propriva,Female,21,26,15,53.442020,0
g989,Propriva,Female,21,26,20,55.326122,1
g989,Propriva,Female,21,26,20,54.657650,1
g989,Propriva,Female,21,26,25,56.045564,1
g989,Propriva,Female,21,26,30,59.082294,1
g989,Propriva,Female,21,26,35,62.570880,2

In [14]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_df = combined_results_df_index.drop("g989")
clean_df.head()

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
k403,Ramicane,Male,21,16,0,45.000000,0
k403,Ramicane,Male,21,16,5,38.825898,0
k403,Ramicane,Male,21,16,10,35.014271,1
k403,Ramicane,Male,21,16,15,34.223992,1
k403,Ramicane,Male,21,16,20,32.997729,1

In [15]:
#Reset index for clean_df
clean_df.reset_index(inplace = True)
clean_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1875,z969,Naftisol,Male,9,30,25,63.145652,2
1876,z969,Naftisol,Male,9,30,30,65.841013,3
1877,z969,Naftisol,Male,9,30,35,69.176246,4
1878,z969,Naftisol,Male,9,30,40,70.314904,4
1879,z969,Naftisol,Male,9,30,45,73.867845,4

In [48]:
# Checking the number of mice in the clean DataFrame.
clean_df["Mouse ID"].unique()
new_mouse_count = len(clean_df["Mouse ID"].unique())
new_mouse_count

248

## Summary Statistics

In [49]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for 
# each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [50]:
# #Create df with index for regimens
# df_regimens = clean_df.set_index("Drug Regimen")
# df_regimens

,Mouse ID,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Drug Regimen,,,,,,,
Ramicane,k403,Male,21,16,0,45.000000,0
Ramicane,k403,Male,21,16,5,38.825898,0
Ramicane,k403,Male,21,16,10,35.014271,1
Ramicane,k403,Male,21,16,15,34.223992,1
Ramicane,k403,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...
Naftisol,z969,Male,9,30,25,63.145652,2
Naftisol,z969,Male,9,30,30,65.841013,3
Naftisol,z969,Male,9,30,35,69.176246,4
Naftisol,z969,Male,9,30,40,70.314904,4
Naftisol,z969,Male,9,30,45,73.867845,4

In [54]:
# df_regimens.reset_index(inplace = True)
# df_regimens

,Drug Regimen,Mouse ID,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,Ramicane,k403,Male,21,16,0,45.000000,0
1,Ramicane,k403,Male,21,16,5,38.825898,0
2,Ramicane,k403,Male,21,16,10,35.014271,1
3,Ramicane,k403,Male,21,16,15,34.223992,1
4,Ramicane,k403,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1875,Naftisol,z969,Male,9,30,25,63.145652,2
1876,Naftisol,z969,Male,9,30,30,65.841013,3
1877,Naftisol,z969,Male,9,30,35,69.176246,4
1878,Naftisol,z969,Male,9,30,40,70.314904,4
1879,Naftisol,z969,Male,9,30,45,73.867845,4

In [80]:
#Define tumor volume values
tumor_vol = df_regimens[["Tumor Volume (mm3)"]].values
tumor_vol

array([[45.        ],
       [38.82589807],
       [35.01427146],
       ...,
       [69.17624607],
       [70.31490411],
       [73.86784476]])

In [79]:
#Define regimen values
regimens = df_regimens[["Drug Regimen"]].values
regimens

array([['Ramicane'],
       ['Ramicane'],
       ['Ramicane'],
       ...,
       ['Naftisol'],
       ['Naftisol'],
       ['Naftisol']], dtype=object)

In [83]:
#List of regimens
all_regimens = df_regimens["Drug Regimen"].unique()
all_regimens

array(['Ramicane', 'Capomulin', 'Infubinol', 'Placebo', 'Ceftamin',
       'Stelasyn', 'Zoniferol', 'Ketapril', 'Propriva', 'Naftisol'],
      dtype=object)

In [86]:
#Calculate mean for each regimen
for_mean = [(i, tumor_vol[regimens==i].mean()) for i in all_regimens]
for_mean

[('Ramicane', 40.21674506671052),
 ('Capomulin', 40.675741141),
 ('Infubinol', 52.88479510859551),
 ('Placebo', 54.03358078635359),
 ('Ceftamin', 52.59117180960675),
 ('Stelasyn', 54.23314911988951),
 ('Zoniferol', 53.23650655159341),
 ('Ketapril', 55.23563764047873),
 ('Propriva', 52.32092986),
 ('Naftisol', 54.331564658333335)]

In [92]:
#Calculate variance for each regimen
for_var = [(i, tumor_vol[regimens==i].var()) for i in all_regimens]
for_var

[('Ramicane', 23.383692092656243),
 ('Capomulin', 24.83929558060157),
 ('Infubinol', 42.88638815058418),
 ('Placebo', 60.83013772710202),
 ('Ceftamin', 39.06944594028265),
 ('Stelasyn', 59.122105531524184),
 ('Zoniferol', 48.26668860153232),
 ('Ketapril', 68.18893042567767),
 ('Propriva', 43.55571562779729),
 ('Naftisol', 65.81770759495988)]

In [89]:
#Calculate standard deviation for each regimen
for_std = [(i, tumor_vol[regimens==i].std()) for i in all_regimens]
for_std

[('Ramicane', 4.83566873272521),
 ('Capomulin', 4.9839036488079875),
 ('Infubinol', 6.54876997233711),
 ('Placebo', 7.799367777397218),
 ('Ceftamin', 6.250555650522812),
 ('Stelasyn', 7.6890900327362655),
 ('Zoniferol', 6.9474231626936565),
 ('Ketapril', 8.25765889497003),
 ('Propriva', 6.5996754183669735),
 ('Naftisol', 8.112811324994553)]

In [142]:
# for_sem = [i, stats.sem(df_regimens[df_regimens["Drug Regimen" == i]["Tumor Volume (mm3)"] for i in all_regimens]]
# sem = stats.sem(df_regimens[df_regimens])
                        
sem
sem = sts.sem(df_regimens[df_regimens["Drug Regimen"] == "Ramicane"]["Tumor Volume (mm3)"])
sem

0.3209546065084816

In [153]:
i = regimens
sem1 = [(i, sts.sem(df_regimens[df_regimens["Tumor Volume (mm3)"]]) for i in all_regimens)]
sem1

SyntaxError: invalid syntax (<ipython-input-153-bfbcdb778732>, line 2)

In [101]:
a = np.arange(23)
sts.sem(tumor_vol)

array([0.20559062])

In [114]:
clean_df.aggregate(lambda x: sts.sem(x, axis=1))

IndexError: tuple index out of range

In [ ]:
# group_maindf_by_reg = maindf_by_reg.groupby(maindf_by_reg["Sex"])
# group_maindf_by_reg.count().head(10)

In [ ]:
# x_axis = maindf["Drug Regimen"]
# y_axis = maindf["Timepoint"]
# plt.plot(x_axis, y_axis)
# plt.show()

In [ ]:
# #Mean for summary
# mean_tumor_vol = (grouped_reg_array["Tumor Volume (mm3)"]).mean()
# mean_tumor_vol

In [ ]:
# #Median for summary
# median_tumor_vol = np.median(grouped_reg_array["Tumor Volume (mm3)"])
# median_tumor_vol

In [ ]:
# #Variance for summary
# var_tumor_vol = np.var(grouped_reg_array["Tumor Volume (mm3)"], ddof = 0)
# var_tumor_vol

In [ ]:
# #Standard Deviation for summary
# sd_tumor_vol = np.std(grouped_reg_array["Tumor Volume (mm3)"], ddof = 0)
# sd_tumor_vol

In [ ]:
# plt.hist(grouped_reg_array["Tumor Volume (mm3)"])
# plt.show()
# print(sts.normaltest(grouped_reg_array["Tumor Volume (mm3)"]))

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and 
#SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen